venv/*
__pycache__/*
*.pyc
rdf/baseball.nt
rdf/baseball.n3
.graphdb-desktop.log

# LaTeX build artifacts
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.lof
report/*.log
report/*.out
report/*.toc
